*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary--color:#f2726a;
}
body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(45deg, #00853e, #50c878 );
    height: 100vh;
}
body a{
   text-decoration: none; 
}
.card{
    width: 300px;
    height: 400px;
    background-color: #242628;
    border-radius: 15px;
    margin: 100px auto;
    text-align: center;
    overflow: hidden;
}
.card__img {
    width: 120px;
    height: 120px;
    border: 4px solid var(--primary--color);
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    transform: translateY(30px);
    transition: .3s;
}
.card__img:hover{
    width: 100%;
    height: 100%;
    border-radius: unset;
    border: none;
    overflow: visible;
    transform: translateY(0px);
}

.card__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.card__title{
    color: white;
    margin-top: 40px;
    font-size: 20px;
}
.card__title p{
    color: var(--primary--color);
}
.card__icon{
    margin-top: 10px;
}
.card__icon i{
    width: 35px;
    height: 35px;
    border: 1px solid white;
    line-height: 32px;
    font-size: 20px;
    color: white;
    transition: .5s;
    border-radius: 5px;
}
.card__icon i:hover{
    color: var(--primary--color);
    border-color: var(--primary--color);
}
.card__button{
    margin-top: 20px;
}
.card__button button{
    padding: 15px 30px;
    border-radius: 10px;
    border: 2px solid var(--primary--color);
    background-color: #242628;
    transition: .5s;
}
.card__button:hover button{
    background-color: var(--primary--color);
}
.card__button a{
    font-size: 15px;
    color: white;
}
